.comp {
  @apply grow grid gap-4 h-0;

  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  grid-template-rows: minmax(100%, 100%);
}

.column {
  @apply p-4 rounded-md overflow-scroll shadow-md;

  background-color: var(--background-color-fore);
}

.preview {
  @apply font-mono;
}
