.comp {
  @apply grow flex flex-col gap-4;
}

.controls {
  @apply flex;
}

.controlGroup {
  @apply flex gap-2;
}

.controls {
  @apply justify-between text-[var(--content-color-dark)] font-bold;
}

.control {
  @apply h-10 px-4 rounded bg-amber-400;
  @apply bg-gradient-to-br from-yellow-400;
}

.icon {
  @apply w-[1.1rem];
}
