.comp {
  /* @apply font-mono; */
}

.comp h1,
.comp h2,
.comp h3,
.comp h4,
.comp h5,
.comp h6 {
  @apply my-4 font-bold;
}

.comp h1 {
  @apply text-[1.75rem];
}

.comp h2 {
  @apply text-[1.675rem];
}

.comp h3 {
  @apply text-[1.5rem];
}

.comp h4 {
  @apply text-[1.375rem];
}

.comp h5 {
  @apply text-[1.25rem];
}

.comp h6 {
  @apply text-[1.125rem];
}

.comp p {
  @apply my-1 indent-[-0.5em] pl-2;
  /* non-standard my */
}

.comp code {
  @apply font-mono bg-[var(--background-color-highlight)] bg-opacity-50 p-[0.15rem] text-sm rounded-sm;
}

.comp pre {
  @apply block whitespace-pre bg-[var(--background-color-highlight)] rounded-md p-3 my-4 indent-[-0.137em] overflow-x-scroll;
}

.comp blockquote {
  @apply block px-4 my-4 border-l-4 border-[var(--background-color-highlight)];
}

.comp ul,
.comp ol {
  @apply block pl-5 my-4;
}

.comp ol.embeddedList,
.comp ul.embeddedList {
  @apply m-0;
}

.comp ul {
  @apply list-disc;
}

.comp ol {
  @apply list-decimal;
}

.comp li {
  @apply list-item;
}

.comp a {
  @apply underline;
}

.comp .chord {
  @apply relative inline-block mt-7;
}

.comp .chord strong {
  @apply absolute bottom-3 left-2 text-amber-500 font-mono text-sm;
}

.comp li .chord strong {
  @apply left-0;
}

.comp .chordGroup {
  @apply whitespace-nowrap;
}
