.comp {
  /* @apply font-mono; */
}

.comp h1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  font-weight: bold;
}

.comp h2 {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  font-weight: bold;
}

.comp h3 {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.comp h4 {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  font-weight: bold;
}

.comp h5 {
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  font-weight: bold;
}

.comp h6 {
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;
  font-weight: bold;
}

.comp p {
  /* non-standard top and bottom */
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  text-indent: -0.5em;
  padding-left: 0.5em;
}

.comp code {
  @apply bg-slate-500 text-red-600 bg-opacity-50 p-1 text-sm rounded-sm;
}

.comp .chord {
  @apply relative inline-block mt-8;
}

.comp .chord strong {
  @apply absolute bottom-3 left-2 text-amber-300;
}

.comp .chordGroup {
  @apply whitespace-nowrap;
}
