@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --content-color-light: #fff;
  --content-color-dark: #040404;

  --background-color-fore: #f4f4f4;
  --background-color: #e2e2e2;
  --background-color-back: #d6d6d6;
  --content-color: var(--content-color-dark);
  --content-color-reverse: var(--content-color-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color-fore: #313131;
    --background-color: #262626;
    --background-color-back: #1a1a1a;
    --content-color: var(--content-color-light);
    --content-color-reverse: var(--content-color-dark);
  }
}

html {
  background-color: var(--background-color);
  color: var(--content-color);
}

body {
  @apply overscroll-none;
}

a {
  @apply text-amber-500 hover:underline;
}
