@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-main {
    @apply bg-main-light dark:bg-main-dark;
  }
  .bg-back {
    @apply bg-back-light dark:bg-back-dark;
  }
}

:root {
  --text-color: #040404;
  --text-color-dark: #fff;
  /* --text-color-reverse: var(--text-color-dark);
  --text-color-reverse-dark: var(--text-color); */

  --bg-color-back: #d6d6d6;
  --bg-color: #e2e2e2;
  --bg-color-fore: #f4f4f4;

  --bg-color-back-dark: #1a1a1a;
  --bg-color-dark: #262626;
  --bg-color-fore-dark: #313131;
}

body {
  @apply overscroll-none bg-base-light dark:bg-base-dark text-content-light dark:text-content-dark;
}

a {
  @apply text-amber-500 hover:underline;
}
