.comp {
  @apply flex align-middle h-10 bg-[var(--background-color-back)] rounded shadow-inner cursor-pointer;
}

.context {
  @apply flex justify-center items-center rounded px-4 cursor-pointer;
}

.contextSelected {
  @apply bg-amber-400;
  @apply bg-gradient-to-br from-yellow-400;
}

.label {
  @apply opacity-50 text-[var(--content-color)];
}

.contextSelected .label {
  @apply opacity-100 text-[var(--content-color-dark)];
}
